name: flutter_map_marker_cluster_example
description: Example for Flutter Map Marker cluster

publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_map: ">=6.0.0 <7.0.0"
  flutter_map_marker_cluster:
    path: ../
  cupertino_icons: ^1.0.6
  latlong2: ^0.9.0

dev_dependencies:
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
